@media (max-width: 1230px) {
  .scope__items {
    gap: 10px;
  }
  .scope__item {
    width: 49%;
  }
  .contact__inner {
    gap: 30px;
  }
  .hero__inner::before {
    right: 0;
  }
}
@media (max-width: 991px) {
  .portfolio__img {
    width: 40%;
  }
  .portfolio__inner {
    gap: 30px;
  }
  .tariffs__item {
    padding: 80px 23px 34px;
  }
  .tariffs__items {
    flex-wrap: wrap;
    gap: 10px;
  }
  .contact__input {
    flex-basis: 100%;
  }
  .contact__form {
    gap: 10px;
  }
  .contact__input,
  .contact__input::placeholder,
  .contact__text,
  .contact__text::placeholder {
    font-size: 12px;
  }
  .contact__text,
  .contact__btn {
    margin-top: 0;
  }
  .footer__inner {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 60px;
  }
  .footer__copyright {
    font-family: "MazzardL-Medium", sans-serif;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .hero__title {
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
  }
  h3,
  .process__item::marker {
    font-size: 16px;
  }
  .hero__title--outline {
    font-family: "Montserrat-Bold", sans-serif;
    -webkit-text-stroke: 1px #071c35;
    letter-spacing: -1px;
  }
  .link {
    padding: 13px;
    width: 187px;
    height: 40px;
    font-size: 12px;
  }
  .header__nav {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 86px;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: #f5f4f4;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
  .header__nav-toggle {
    position: absolute;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: auto;
    width: 21px;
    height: 7px;
    cursor: pointer;
  }
  .header__nav-line {
    height: 2px;
    background-color: #071c35;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
  }
  .header__nav-line:first-child {
    width: 100%;
  }
  .header__nav-line:last-child {
    width: 12px;
  }
  .header__nav-toggle--active .header__nav-line:first-child {
    transform: rotate(-45deg) translateY(3px);
    -webkit-transform: rotate(-45deg) translateY(3px);
    -moz-transform: rotate(-45deg) translateY(3px);
    -ms-transform: rotate(-45deg) translateY(3px);
    -o-transform: rotate(-45deg) translateY(3px);
  }
  .header__nav-toggle--active .header__nav-line:last-child {
    width: 100%;
    transform: rotate(45deg) translateY(-4px);
    -webkit-transform: rotate(45deg) translateY(-4px);
    -moz-transform: rotate(45deg) translateY(-4px);
    -ms-transform: rotate(45deg) translateY(-4px);
    -o-transform: rotate(45deg) translateY(-4px);
  }
  .header {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
  .header--active {
    background-color: #f5f4f4;
  }
  .header__nav--active {
    opacity: 1;
    visibility: visible;
  }
  .header__nav-list {
    margin-top: 110px;
    flex-direction: column;
    gap: 30px;
    font-family: "MazzardM-Bold", sans-serif;
    font-size: 20px;
  }
  .hero__inner {
    padding-top: 54%;
    padding-bottom: 60px;
    background-position: center 0;
  }
  .hero__inner::before {
    width: 499px;
    height: 575px;
    left: 50px;
    right: 0;
    top: 0;
    filter: blur(95px);
    -webkit-filter: blur(95px);
  }
  .hero__text {
    margin-top: 18px;
  }
  .hero__link {
    margin-top: 24px;
  }
  .scope__items {
    gap: 10px;
  }
  .scope__item {
    width: 100%;
  }
  .scope__item-inner {
    padding-top: 28px;
    padding-left: 17px;
    padding-right: 50px;
    min-height: 138px;
    height: unset;
  }
  .scope__items {
    margin-top: 30px;
  }
  .process {
    margin-top: 60px;
  }
  .process__item {
    padding: 20px 18px;
  }
  .process__items {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
  }
  .process__item:nth-child(5),
  .process__item:nth-child(9),
  .process__item:nth-child(10),
  .process__item:nth-child(4) {
    margin: 0;
  }
  .process__item {
    max-width: 49%;
  }
  .process__item-text {
    margin-top: 14px;
    font-size: 14px;
  }
  .portfolio,
  .tariffs {
    margin-top: 60px;
  }
  .tariffs__items {
    margin-top: 30px;
  }
  .tariffs__item-text {
    font-size: 14px;
  }
  .contact {
    margin-top: 60px;
  }
  .contact::before {
    background-image: url("/images/content/contact-mobile.svg");
    width: 341px;
    height: 649px;
    top: 10px;
    left: -10px;
    filter: blur(70px);
    -webkit-filter: blur(70px);
  }
  .contact__img {
    position: absolute;
    top: 0;
    right: 15px;
    width: 166px;
    margin: 0;
  }
  .contact__form {
    margin-top: 233px;
  }
  .contact__text {
    min-height: 116px;
  }
  .contact__input {
    height: 43px;
  }
  .footer {
    margin-top: 60px;
  }
  .footer__copyright {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .scope__img {
    width: 101px;
    margin-bottom: -15px;
  }
  .hero__inner {
    padding-top: 87%;
    background-size: 80%;
  }
  .header__logo {
    width: 75px;
  }
  .hero__inner::before {
    width: 100%;
    height: 445px;
    left: 0;
    right: -10px;
    top: -50px;
  }
  .header__nav {
    top: 83px;
  }
  .scope__item-text {
    width: 100%;
    font-size: 14px;
  }
  .scope__item:nth-child(3) .scope__item-title,
  .scope__item:nth-child(2) .scope__item-title {
    width: 165px;
  }
  .process__item {
    max-width: 96%;
    flex-basis: 100%;
  }
  .process__item:nth-child(odd) {
    margin-right: auto;
  }
  .process__item:nth-child(even) {
    margin-left: auto;
  }
  .process::before {
    background-image: url("/images/content/process-mobile.svg");
    height: 92%;
    filter: blur(100px);
    -webkit-filter: blur(100px);
  }
  .portfolio__inner {
    display: block;
  }
  .portfolio__inner::before {
    position: absolute;
    content: "";
    width: 80%;
    height: 230px;
    top: 75px;
    left: 20px;
    filter: blur(40px);
    -webkit-filter: blur(40px);
  }
  .portfolio__img {
    display: none;
  }
  .portfolio__img--mobile {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 78%;
  }
  .portfolio__text {
    margin-top: 30px;
  }
  .portfolio__link {
    margin-top: 20px;
  }
  .footer__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
  }
}
@media (max-width: 375px) {
  .hero__inner {
    padding-top: 110%;
    background-size: 100%;
  }
  .portfolio__img--mobile {
    width: 214px;
  }
  .portfolio__link {
    position: absolute;
    top: 251px;
    width: 220px;
    margin: 0;
  }
}
