*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  font-family: "MazzardL-Regular", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: #071c35;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1210px;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
  padding: 0;
}
